<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.nirmlkar.dalejan.bluedart">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bluedart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Delivery Progress"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity
            android:name=".PrograssTask"
            android:label="Delivery Details" />
        <activity android:name=".Spalsh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddDeliveryBoy" />
        <activity
            android:name=".DeliveryboyScreen"
            android:label="@string/title_activity_deliveryboy_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Confirm"></activity>
    </application>

</manifest>